@{
    ViewData["Title"] = "Conferma Modifica";
}

<h1>@ViewData["Title"]</h1>

<h4 class="m-0 font-weight-bold text-success">L'evento è stato modificato con successo.</h4>
<h4>   </h4>

<p><a class="btn btn-primary" href="/Admin/ModificaEventi">Torna a modifica eventi</a></p>