@{
    ViewData["Title"] = "Annullamento Iscrizione";
}
<h1>@ViewData["Title"]</h1>


<h4 class="m-0 font-weight-bold text-danger">Hai Eliminato la tua iscrizione</h4>
<h4>   </h4>

<a class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="VisualizzaIscrizioni">Torna all'elenco delle iscrizioni</a>

