@model int

@{
    ViewData["Title"] = "Conferma Iscrizione";
}

<h1>@ViewData["Title"]</h1>

<p>Sei sicuro di iscriverti?</p>

<form action="VisualizzaIscrizioni" method="post">
    <input type="hidden" name="id" value="@Model" />
    <button type="submit" class="btn btn-primary">Iscriviti</button>
    <a href="VisualizzaIscrizioni" class=" btn btn-danger">Torna all'elenco delle iscrizioni</a>
</form>


