@model int

@{
    ViewData["Title"] = "Conferma Iscrizione";
}

<h1>@ViewData["Title"]</h1>

<h4 class="m-0 font-weight-bold text-success">Iscrizione Completata</h4>
<h4>   </h4>


<a href="ElencoEventi" class="btn btn-primary">Torna all'elenco degli eventi</a>

@*<form action="VisualizzaIscrizioni" method="post">
    <input type="hidden" name="id" value="@Model" />
    <button type="submit" class="btn btn-primary">Iscriviti</button>
    <a href="ElencoEventi" class="btn btn-primary">Torna all'elenco delle Elenco</a>
</form>*@


