@{
    ViewData["Title"] = "Home Page";
    var nome = ViewData["nome"] as string;
    var cognome = ViewData["cognome"] as string;
    var ruolo = ViewData["ruolo"] as string;
    var numIscrizioni = ViewData["NumIscrizioni"] as string;
    var numEventi = ViewData["NumEventi"] as string;

}

<div class="text-center">
    <h1 class="display-4">Benvenuto</h1>
    <p>@nome @cognome - @ruolo</p>
    <p>---- @numIscrizioni</p>
    <p>--- @numEventi</p>
</div>



<div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-warning shadow h-100 py-2">
        <div class="card-body">
            <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                        Iscrizioni
                    </div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800">@numIscrizioni</div>
                </div>
                <div class="col-auto">
                    <i class="fas fa-comments fa-2x text-gray-300"></i>
                </div>
            </div>
        </div>
    </div>
</div>

