@{
        ViewData["Title"] = "Login";
        @model Utente;
}
<h1>@ViewData["Title"]</h1>

<div asp-validation-summary="ModelOnly" class="error-text"></div>
<form action="/Home/Login" method="post">
    <div class="form-group mb-3">
        <label asp-for="Email">Email</label>
        <input asp-for="Email" value="@Model.Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group mb-3">
        <label asp-for="Password">Password</label>
        <input type="password" asp-for="Password" value="@Model.Password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="text-center">
        <button type="submit" class="btn btn-primary">Entra</button>
    </div>

</form>


