@{
    ViewData["Title"] = "Numero massimo di iscrizioni raggiunto";
}

<h1>@ViewData["Title"]</h1>

<h4 class="m-0 font-weight-bold text-danger">Il numero massimo di iscrizioni per questo evento è stato raggiunto.</h4>
<h4>   </h4>

<a href="ElencoEventi" class="btn btn-primary">Torna all'elenco delle Elenco</a>

