@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<h1>Informativa sulla Privacy</h1>

<p>La tua privacy è importante per noi. In questa pagina, descriviamo come raccogliamo, utilizziamo e proteggiamo le informazioni personali che riceviamo dai visitatori del nostro sito web, nel rispetto delle normative applicabili in materia di protezione dei dati personali, inclusi il Regolamento Generale sulla Protezione dei Dati (GDPR) e altre leggi sulla privacy.</p>

<h2>Raccolta delle informazioni</h2>
<p>Quando visiti il nostro sito web, potremmo raccogliere alcune informazioni personali come il tuo nome, indirizzo email, indirizzo IP e altre informazioni pertinenti al servizio che offriamo. Utilizziamo queste informazioni solo per lo scopo specifico per cui sono state fornite e nel rispetto delle basi giuridiche previste dalla normativa sulla privacy.</p>

<h2>Utilizzo delle informazioni</h2>
<p>Le informazioni personali che raccogliamo vengono utilizzate per fornire i servizi richiesti, comunicare con gli utenti, migliorare il nostro sito web e garantire la sicurezza delle informazioni. Utilizziamo le basi giuridiche appropriate per il trattamento dei dati personali, come il consenso dell'utente o la necessità di adempiere a un obbligo contrattuale o legale.</p>

<h2>Protezione delle informazioni</h2>
<p>Prendiamo sul serio la sicurezza delle informazioni personali degli utenti e adottiamo misure tecniche e organizzative adeguate per proteggerle da accessi non autorizzati, perdite o utilizzi impropri. Ci impegniamo a mantenere un livello adeguato di sicurezza dei dati, ma ricorda che nessun sistema è completamente immune da potenziali rischi.</p>

<h2>Cookie e tecnologie simili</h2>
<p>Utilizziamo i cookie e altre tecnologie simili per migliorare l'esperienza dell'utente sul nostro sito web, personalizzare i contenuti, analizzare l'utilizzo del sito e offrire pubblicità mirate. È possibile gestire le preferenze sui cookie attraverso le impostazioni del proprio browser o utilizzando gli strumenti di gestione dei cookie forniti da terze parti.</p>

<h2>Trasferimento dei dati</h2>
<p>In determinate circostanze, potremmo trasferire le informazioni personali a terze parti, ad esempio fornitori di servizi o partner commerciali, per permettere loro di svolgere attività in nostro nome o per adempiere a obblighi contrattuali. Effettuiamo tali trasferimenti solo se garantiamo l'adeguata protezione dei dati personali e il rispetto delle leggi sulla privacy applicabili. Quando trasferiamo dati personali al di fuori dello Spazio Economico Europeo (SEE), ci assicuriamo che siano adottate adeguate misure di sicurezza e che venga fornita una base legale appropriata per tale trasferimento, come le clausole contrattuali standard approvate dalla Commissione Europea o il Privacy Shield UE-Stati Uniti.</p>

<h2>I tuoi diritti</h2>
<p>Hai il diritto di accedere, modificare, correggere o cancellare le informazioni personali che abbiamo su di te. Puoi esercitare questi diritti contattandoci tramite i canali forniti sul nostro sito web. Tieni presente che potremmo richiedere ulteriori informazioni per verificare la tua identità prima di procedere con le richieste.</p>

<h2>Conservazione dei dati</h2>
<p>Conserviamo le informazioni personali solo per il tempo necessario per adempiere agli scopi per cui sono state raccolte e per rispettare gli obblighi legali. Quando i dati personali non sono più necessari, li eliminiamo in modo sicuro o li rendiamo anonimi.</p>

<h2>Modifiche all'informativa sulla privacy</h2>
<p>Ci riserviamo il diritto di apportare modifiche a questa informativa sulla privacy. Eventuali modifiche verranno pubblicate su questa pagina con l'indicazione della data di entrata in vigore. Ti consigliamo di controllare periodicamente questa pagina per rimanere informato sulle nostre pratiche sulla privacy.</p>

<h2>Contattaci</h2>
<p>Se hai domande o dubbi sulla nostra politica sulla privacy o sul trattamento dei tuoi dati personali, ti invitiamo a contattarci tramite i canali forniti sul nostro sito web.</p>

<p><center><img class="rounded-circle" src="/img/Logo CDL Event Organizer.jpg" width="100" height="100"></center></p>


