@model RegistrazioneUtente

<h1>Registrazione</h1>

<form asp-action="Registrazione" method="post">
    <input type="hidden" name="Parametro" value="@ViewBag.Parametro" />
    <div class="form-group">
        <label asp-for="Nome">Nome</label>
        <input asp-for="Nome" class="form-control" />
        <span asp-validation-for="Nome" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Cognome">Cognome</label>
        <input asp-for="Cognome" class="form-control" />
        <span asp-validation-for="Cognome" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Ruolo">Ruolo</label>
        <input asp-for="Ruolo" class="form-control" />
        <span asp-validation-for="Ruolo" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Email">Email</label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Password">Password</label>
        <input asp-for="Password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="ConfermaPassword">Conferma Password</label>
        <input asp-for="ConfermaPassword" class="form-control" />
        <span asp-validation-for="ConfermaPassword" class="text-danger"></span>
        
    </div>

    <button type="submit" class="btn btn-primary"></button>
</form>

