@model RegistrazioneUtente

<h1>Registrazione</h1>

<form asp-action="Registrazione" method="post">
    <input type="hidden" name="Parametro" value="@ViewBag.Parametro" />
    <div class="form-group">
        <label class="m-0 font-weight-bold text-primary" asp-for="Nome">Nome</label>
        <input asp-for="Nome" class="form-control" />
        <span asp-validation-for="Nome" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label class="m-0 font-weight-bold text-primary" asp-for="Cognome">Cognome</label>
        <input asp-for="Cognome" class="form-control" />
        <span asp-validation-for="Cognome" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label class="m-0 font-weight-bold text-primary" asp-for="DataNascita">Data di nascita</label>
        <input asp-for="DataNascita" class="form-control" type="date" />
        <span asp-validation-for="DataNascita" class="text-danger"></span>
    </div>

    <div class="form-group mb-3">
        <label class="m-0 font-weight-bold text-primary" asp-for="Ruolo">Ruolo autorizzato all'accesso</label>
        <select asp-for="Ruolo" asp-items="@(new SelectList(ViewBag.ListaRuoli as IEnumerable<string>) )" class="form-control"></select>
        <span asp-validation-for="Ruolo" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label class="m-0 font-weight-bold text-primary" asp-for="Email">Email</label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label class="m-0 font-weight-bold text-primary" asp-for="Password">Password</label>
        <input type="password" asp-for="Password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label class="m-0 font-weight-bold text-primary" asp-for="ConfermaPassword">Conferma Password</label>
        <input type="password" asp-for="ConfermaPassword" class="form-control" />
        <span asp-validation-for="ConfermaPassword" class="text-danger"></span>

    </div>

    <div class="text-center">
        <button type="submit" class="btn btn-success">Registra</button>
    </div>

</form>

